
SampleQRCodes/.idea/.idea.SampleQRCodes/.idea/encodings.xml
SampleQRCodes/.idea/.idea.SampleQRCodes/.idea/indexLayout.xml
SampleQRCodes/.idea/.idea.SampleQRCodes/.idea/misc.xml
SampleQRCodes/.idea/.idea.SampleQRCodes/.idea/vcs.xml
